.row
  .col-md-12
    h1 Privacy policy
.row
  .col-md-4
    p
      ' This privacy policy is for the
      strong> entership.net
      ' website and governs the privacy of members who choose to use it.
    p
      ' The policy sets out the different areas where member privacy is concerned
      ' and outlines the obligations and requirements of the members, the website,
      ' and website owners. Furthermore, the way this website processes, stores
      ' and protects member data and information will also be detailed within this
      ' policy.

    h2 The Website

    p
      ' This website and its owners take a proactive approach to member privacy and
      ' ensure the necessary steps are taken to protect the privacy of its members
      ' throughout their visiting experience. This website complies with all Hong
      ' Kong national laws and requirements for member privacy.

    h2 Use of Cookies

    p Our website uses cookies.
    
    p
      ' A cookie is a file containing an identifier (a string of letters and
      ' numbers) that is sent by a web server to a web browser and is stored by
      ' the browser. The identifier is then sent back to the server each time
      ' the browser requests a page from the server.
    p
      ' Cookies may be either "persistent" cookies or "session" cookies: a
      ' persistent cookie will be stored by a web browser and will remain valid
      ' until its set expiry date, unless deleted by the user before the expiry
      ' date; a session cookie, on the other hand, will expire at the end of
      ' the user session, when the web browser is closed. 
    p
      ' Cookies do not typically contain any information that personally
      ' identifies a user, but personal information that we store about you may
      ' be linked to the information stored in and obtained from cookies.
      
    p We use only session cookies on our website.
    
    p
      ' The names of the cookies that we use on our website, and the purposes
      ' for which they are used, are set out below: 
    p
      ' (a)	we use
      strong> _entership_session
      ' for our member interface (entership.net) and
      strong> _entership_company_session
      ' for our company interface (company.entership.net) to recognise a
      ' computer when a member or company, respectively, visits the website.
      ' This is necessary to keep the member/company signed in.
      
    p
      ' Maintaining this signed-in state is the only reason we use cookies
      ' on the Entership website.
      
    p Most browsers allow you to refuse to accept cookies; for example:
    
    p
      ' (a)	in Internet Explorer (version 10) you can block cookies using the
      ' cookie handling override settings available by clicking "Tools",
      ' "Internet Options", "Privacy" and then "Advanced";
    p
      ' (b)	in Firefox (version 24) you can block all cookies by clicking
      ' "Tools", "Options", "Privacy", selecting "Use custom settings for
      ' history" from the drop-down menu, and unticking "Accept cookies from
      ' sites"; and
    p
      ' (c)	in Chrome (version 29), you can block all cookies by accessing
      ' the "Customise and control" menu, and clicking "Settings", "Show
      ' advanced settings" and "Content settings", and then selecting "Block
      ' sites from setting any data" under the "Cookies" heading.
    p
      ' Blocking all cookies will have a negative impact upon the usability of
      ' many websites. If you block cookies, you will not be able to use all
      ' the features on our website. Specifically, you will not be able to
      ' remain signed in.
      
    p You can delete cookies already stored on your computer; for example:
    
    p
      ' (a)	in Internet Explorer (version 10), you must manually delete cookie
      ' files (you can find instructions for doing so at
      a href="http://support.microsoft.com/kb/278835" http://support.microsoft.com/kb/278835
      ' );

  .col-md-4
  
    p
      ' (b)	in Firefox (version 24), you can delete cookies by clicking "Tools",
      ' "Options" and "Privacy", then selecting "Use custom settings for
      ' history", clicking "Show Cookies", and then clicking "Remove All
      ' Cookies"; and
    p
      ' (c)	in Chrome (version 29), you can delete all cookies by accessing the
      ' "Customise and control" menu, and clicking "Settings", "Show advanced
      ' settings" and "Clear browsing data", and then selecting "Delete cookies
      ' and other site and plug-in data" before clicking "Clear browsing data".

    p Deleting cookies will have a negative impact on the usability of many websites. 

    h2 Contact and Communication

    p
      ' Members contacting this website and/or its owners do so at its own discretion
      ' and provide any such personal details requested at their own risk. Your
      ' personal information is kept private and stored securely until a time it
      ' is no longer required or has no use.
    p 
      ' This website and its owners, as data members, undertake to comply with
      ' the requirements as detailed in the Personal Data (Privacy) Ordinance to
      ' ensure that personal data are accurate, securely kept, and used only for
      ' the purpose for which they have been collected.
    p
      ' Every effort has been made to ensure a safe and secure form-to-email
      ' submission process but we advise members using such form-to-email processes
      ' that they do so at their own risk.
    p
      ' This website and its owners use any information submitted to provide you
      ' with further information about the products/services they offer or to
      ' assist you in answering any questions or queries you may have submitted.
    p
      ' This includes using your details to subscribe you to any email newsletter
      ' program the website operates but only if this was made clear to you and
      ' your express permission was granted when submitting any form to email
      ' process. Or whereby you the consumer have previously purchased from or
      ' enquired about purchasing from the company a product or service that the
      ' email newsletter relates to.
    p
      ' This is by no means an entire list of your member rights in regard to
      ' receiving email marketing material. Your details are not passed on to
      ' any third parties.

    h2 External Links

    p
      ' Although this website only looks to include quality, safe, and relevant
      ' external links, members should always adopt a policy of caution before
      ' clicking any external web links mentioned throughout this website.
    p
      ' The owners of this website cannot guarantee or verify the contents of any
      ' externally linked website despite their best efforts. Members should therefore
      ' note they click on external links at their own risk and this website and
      ' its owners cannot be held liable for any damages or implications caused by
      ' visiting any external links mentioned.

    h2 Email Newsletter

    p
      ' This website operates an email newsletter program, used to inform
      ' subscribers about products and services supplied by this website. Members
      ' cannot subscribe through an online automated process should they wish
      ' to do so but do so at their own discretion. Some subscriptions may be
      ' manually processed through written agreement with the member.
    p
      ' Subscriptions are taken in compliance with Hong Kong Spam Laws detailed
      ' in the Unsolicited Electronic Messages Ordinance. All personal details
      ' relating to subscriptions are held securely and in accordance with the
      ' Personal Data (Privacy) Ordinance. No personal details are passed on
      ' to third parties nor shared with companies/people outside of the company
      ' that operates the website.
      
  .col-md-4
  
    p
      ' Email marketing campaigns published by this website or its owners may
      ' contain tracking facilities within the actual email. Subscriber activity
      ' is tracked and stored in a database for future analysis and evaluation.
      ' Such tracked activity may include but is not limited to the opening of
      ' emails, forwarding of emails, the clicking of links within the email
      ' content, times, dates and frequency of activity. This information is
      ' used to refine future email campaigns and supply the member with more
      ' relevant content based around their activity.
    p
      ' In compliance with Hong Kong spam laws, members are given the opportunity
      ' to unsubscribe at any time through an automated system. This process
      ' is detailed at the footer of each email campaign. If an automated
      ' unsubscription system is unavailable, then clear instructions on how to
      ' unsubscribe will be detailed instead.

    h2 Adverts and Sponsored Links

    p
      ' This website may contain sponsored links and adverts. These will
      ' typically be served through our advertising partners, who may have
      ' detailed privacy policies relating directly to the adverts they serve.
    p
      ' Clicking on any such adverts will send you to the advertiser's website
      ' through a referral program which may use cookies and track the
      ' number of referrals sent from this website. This may include the use
      ' of cookies which may in be saved on your computer's hard drive.
    p
      ' Members should therefore note they click on sponsored external links at
      ' their own risk and this website and its owners cannot be held liable
      ' for any damages or implications caused by visiting any external links
      ' mentioned.

    h2 Social Media Platforms

    p
      ' Communication, engagement and actions taken through external social
      ' media platforms that this website and its owners participate on are
      ' custom to the terms and conditions as well as the privacy policies
      ' held with each social media platform respectively.
    p
      ' Members are advised to use social media platforms wisely and
      ' communicate/engage upon them with due care and caution in regard to
      ' their own privacy and personal details.
    p
      ' Neither this website nor its members will ever ask for personal or
      ' sensitive information through social media platforms and encourage
      ' members wishing to discuss sensitive details to contact them through
      ' primary communication channels such as by telephone or email.
    p
      ' This website may use social sharing buttons which help share web content
      ' directly from web pages to the social media platform in question. Members
      ' are advised before using such social sharing buttons that they do so at
      ' their own discretion and note that the social media platform may track
      ' and save your request to share a web page respectively through your
      ' social media platform account.

    h2 Shortened Links in Social Media

    p
      ' This website and its owners through their social media platform accounts
      ' may share web links to relevant web pages. By default some social media
      ' platforms shorten lengthy URLs (web addresses).
    p
      ' Members are advised to take caution and good judgment before clicking any
      ' shortened URLs published on social media platforms by this website and
      ' its owners. Despite the best efforts to ensure only genuine URLs  are
      ' published, many social media platforms are prone to spam and hacking and
      ' therefore this website and its owners cannot be held liable for any
      ' damages or implications caused by visiting any shortened links.
