/*
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *= require jquery-ui
 *= require font-awesome
 *= require_self
 */

@import 'colors'
@import 'elements'
@import 'navbar'
@import 'breadcrumb'
@import 'flash'
@import 'forms'
@import 'tables'
@import 'footer'

@import 'site'
@import 'apps'
@import 'companies'
@import 'jobs'
@import 'profile'

.job-title
.company-name
  color info-color

.ui-widget
  font-family "Gotham Rounded Light", sans-serif
  font-size 14px

.ui-tooltip
  color footer-text
  padding 4px

.ui-tooltip span.tooltip-hilite
  color base-color

.delete-warning
  color base-color

.test-success-hover
  background-color success-hover

.test-warning-hover
  background-color warning-hover

.test-danger-hover
  background-color danger-hover

.test-info-hover
  background-color info-hover

.test-dark-text
  background-color dark-text

.test-footer-text
  background-color footer-text

.test-muted-text
  background-color muted-text

.test-border-color
  background-color border-color

.test-shaded-bgnd
  background-color shaded-bgnd
