.app-controls .view-link
.app-controls .app-view-icon
  color success-color
  font-weight normal

tr.declined-row td.app-controls
  text-decoration none

.app-controls .edit-link
.app-controls .app-edit-icon
  color warning-color

.app-controls .remove-link
.app-controls .app-remove-icon
  color danger-color

.app-controls:hover .view-link
  color success-hover

.app-controls:hover .edit-link
  color warning-hover

.app-controls:hover .remove-link
  color danger-hover

.current-status
.app-status-link
  padding 0 5px

.current-status
  color success-color

a.app-status-link
  color hilite-bgnd

a.app-status-link:hover
  color base-color

h1.approved
  color success-color

h1.pending
  color info-color

h1.declined
  color base-color

.selected-app
.pending-app
.selected-app:hover
.pending-app:hover
   text-decoration none

.declined-app
  text-decoration line-through

.declined-app:hover
  text-decoration line-through

.selected-app
  color success-color

.pending-app
  color info-color

.declined-app
  color muted-text

.selected-app:hover
  color success-hover

.pending-app:hover
  color warning-hover

.declined-app:hover
  color danger-hover

.app-controls a
  text-decoration none

.app-detail
  font-size 18px
  margin-top 20px

.app-detail p.field-approved
  color success-color

.app-detail p.field-pending
  color pending-color

.app-detail p.field-declined
  color base-color

.work-permit-detail
  font-size 16px
  margin 20px

th.app-controls
td.app-controls
  text-align right
