base-color    = hsla( 360,  90.0000%,  32.0000%, 1.0 )    // #9b0808

success-color = hsla( 120,  42.9907%,  41.9608%, 1.0 )    // #3d993d
warning-color = hsla(  50,  76.7857%,  56.0784%, 1.0 )    // #e5c839
danger-color  = hsla( 360,  73.6170%,  46.0784%, 1.0 )    // #cc1f1f
info-color    = hsla( 208,  53.6481%,  45.6863%, 1.0 )    // #3679b3
pending-color = hsla( 250,  53.6481%,  45.6863%, 1.0 )    // #4b36b3

body-text     = hsla(  22,   6.6667%,  32.3529%, 1.0 )    // #58514d

success-hover = darken( success-color, 30% )              // #2b6b2b
warning-hover = darken( warning-color, 30% )              // #b19717
danger-hover  = darken( danger-color,  30% )              // #8f1616
info-hover    = darken( info-color,    30% )              // #26547d

dark-text     = darken( body-text, 30% )                  // #3e3936

footer-text   = lighten( body-text, 30% )                 // #8e847e
muted-text    = lighten( body-text, 70% )                 // #cfcac8
border-color  = lighten( body-text, 80% )                 // #dfdcda
hilite-bgnd   = lighten( body-text, 85% )                 // #e7e5e3
shaded-bgnd   = lighten( body-text, 95% )                 // #f7f6f6
