caption .company-name
  color info-color

.company-new-icon
.company-edit-icon
.company-remove-icon
  text-decoration none

.company-remove-icon
  color danger-color

th.company-controls
td.company-controls
  text-align right

aside .edit-link
  margin-top 20px

.company-vetted
  color success-color

.company-unvetted
  color base-color

.package-0
  text-align center
  color info-color
  
.package-1
  text-align center
  color success-color
