html
  min-height 100%
  padding-top 60px
  position relative

body
  color body-text
  font-family "Gotham Rounded Light", sans-serif
  font-size 16px
  margin-bottom 60px

aside
  margin-top 30px

h1
  color footer-text
  font-size 21px
  font-weight normal
  margin-bottom 10px
  margin-top 24px
  text-align left

h1 .edit-link
  float right
  font-size 18px

h2
  color success-color
  font-size 18px
  font-weight normal
  text-transform uppercase

legend .view-link .btn
  margin-top -5px

.tagline
  color muted-text
  margin-top -20px

.logo-image
  margin-top -6px

.packages
  margin 20px 0

span.talent
  color success-color

span.success
  color success-color

legend
  color body-text

main.main
  margin-top 20px
  margin-bottom 80px

span.yes
  color success-color
  font-weight bold
  text-transform uppercase

span.no
  color base-color
  text-transform lowercase

.add-link
  font-size 18px

.view-link
.edit-link
  font-size 20px

.show-label
  color success-color
  font-family "Gotham Rounded Book", sans-serif
  margin 15px 0

.show-value
  margin 15px 0

.show-delete
  margin 25px 0

.help-text
  display none
  font-size 16px
  margin-top 32px

.checkbox-help
  margin-top 10px

.optional .help-text
.optional label
  color success-color
  font-weight normal

.required .help-text
.required label
  color danger-color

.optional .help-text:before
  content "Optional: "

.required .help-text:before
  content "Required: "

label.checkboxes .checkbox label
  color body-text

.company-edit-icon:before
  margin-right 0
  vertical-align middle

th
  font-weight normal
  text-align left

dt
  color success-color
  font-weight normal

dd
  margin-left 20px

fieldset legend fieldset legend
  font-size 14px
  text-transform uppercase

.mute
  color muted-text
