.posted-deadline
  text-align right

.posted
  color success-color

.deadline
.unverified
  color base-color

caption .job-title
  color info-color

.job-profile h2
  margin-top 0

th.status
td.status
  text-align center

tr.pending-row td
  color pending-color

a.pending-app:hover
  color info-hover

tr.selected-row td
  color success-color

a.selected-app:hover
  color success-hover

tr.declined-row td
  color danger-color

a.declined-app:hover
  color danger-hover

tr.selected-row td
  font-weight bold

tr.declined-row td
  text-decoration line-through

.job-controls .edit-link
  color success-color
  font-size 14px
  font-weight normal
  text-transform uppercase

.jobs
  margin-top 10px

.job-controls .edit-link
  margin-top 17px

.job-new-icon
.job-controls a
  text-decoration none

th.job-controls
td.job-controls
  text-align right

.job-profile
  font-size 18px
  margin-top 20px

.job-profile p.field-name-open
  color success-color

.job-profile p.field-name-closed
  color base-color

.per
  color muted-text
  font-size 16px
  padding 8px 0
