@import 'colors'

.login-pills
  margin: 10px 0 20px

.pw-quality
  font-size 1.1em

.crack-div
  font-size 1.2em
  margin-top -10px

.match-div
  font-size 1.2em
  margin-top 20px
  color danger-color

.match-div.pmatch
  font-weight bold
  color success-hover

.fading-login-form
  display none
