thead tr th
  color success-color
  font-size 14px
  font-weight normal
  text-transform uppercase

caption
  color footer-text
  font-size 20px
  font-weight normal
  margin-bottom 10px
  margin-top 20px
  padding 0 8px
  text-align left

table.jobs
  margin-top 0

table.jobs caption
  margin-top 0

td.date
th.date
td.numerical
th.numerical
th.tools
td.tools
  text-align right

th.tools
  min-width 30px

th.icon
  width 30px

.education caption
  color base-color
  margin-left -8px
